<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h4 class="text-center alert alert-dark">Add/Update  Details..</h4>
                <form id="editForm">
                    <label>Username</label><br>
                    <input type="text" name="username" id="name" class="form-control"><br>
                    <label>Age</label><br>
                    <input type="number" name="age" id="age" class="form-control"><br>
                    <label>Emailid</label><br>
                    <input type="email" name="email" id="email" class="form-control"><br>
                    <input type="hidden" id="itemId" name="itemId">
    
                    <button onclick="add()">Add</button>
                    <button type="button" onclick="updateItem()">Update</button>
    
                </form>
            </div>
            <!-- <div class="col"></div> -->
            <div class="col-sm-8">
                <h4 class="text-center alert alert-dark">Show Details..</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            
                            <th scope="col">Name</th>
                            <th scope="col">Age</td>
                            <th scope="col">Email</th>
                            <th scope="col">Action</th>
                            
                        </tr>
                    </thead>
                    <tbody id="itemsBody">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            loadItems();
        });

        function loadItems() {
            $.ajax({
                url: "{% url 'get_items' %}",
                success: function(data) {
                    $('#itemsBody').empty();
                    $.each(data, function(index, item) {
                        console.log(item)
                        $('#itemsBody').append('<tr><td>' + item.name + '</td><td>' + item.age + '</td><td>' + item.email + '</td><td><button onclick="edit(' + item.id + ')" class="mr-2">Edit</button><button onclick="deleteItem(' + item.id + ') " class="mr-2">Delete</button></td></tr>');

                        
                    }); 
                }
            });
        }
        function add() {
            var name = $('#name').val();
            var age = $('#age').val();
            var email = $('#email').val();
            $.ajax({
                type: 'POST',
                url: "{% url 'add_item' %}",
                data: {
                    'name': name,
                    'age': age,
                    'email':email,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function() {
                    loadItems();
                    $('#name').val('');
                    $('#age').val('');
                    $('#email').val('');
                }
            });
        }
        function edit(itemId) {
            console.log("Item ID:", itemId); 
            $.ajax({
                
                type: 'GET',
                url: "{% url 'edit_item' %}?id=" + itemId,
                success: function(data) {
                    $('#editForm #name').val(data.name);
                    $('#editForm #age').val(data.age);
                    $('#editForm #email').val(data.email);
                    $('#editForm #itemId').val(itemId);
                }
            });
        }
        function updateItem() {
            var name = $('#name').val();
            var age = $('#age').val();
            var email = $('#email').val();
            
            var itemId = $('#itemId').val();
            $.ajax({
                type: 'POST',
                url: "{% url 'update_item' %}",
                data: {
                    'id': itemId,
                    'name': name,
                    'age': age,
                    'email':email,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        loadItems();
                        $('#name').val('');
                        $('#age').val('');
                        $('#email').val('');
                    }
                }
            });
        }
        
        function deleteItem(itemId) {
            if (confirm("Are you sure you want to delete this item?")) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'delete_item' %}",
                    data: {
                        'id': itemId,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.success) {
                            loadItems();
                        }
                    }
                });
            }
        }
    </script>

</body>
</html>